body {
  font-family: sans-serif;
  background-color: #A2AAB0;
}

.toppings {
  padding-bottom: 10px;
}

.jumbotron, .centered {
  text-align: center;
}

#receipt {
  display: none;
}

.jumbotron, .well{
    background-color: #EBECED;
}
